<div class="form-floating mb-3">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Doctor</label>
        <select class="form-control" id="doctor_id" name="doctor_id">
            <% doctor_row.forEach((row)=> { %>
                <option value="<%= row.doctor_id %>">
                    <%= row.name %>
                </option>
                <%}) %>
        </select>
    </div>
</div>



<div class="form-floating mb-3">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Hospital</label>
        <select class="form-control" id="hospital_id" name="hospital_id">
            <% hospital_row.forEach((row)=> { %>
                <option value="<%= row.hospital_id %>">
                    <%= row.name %>
                </option>
                <%}) %>
        </select>
    </div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>

