<div class="col-6 pt-2">
    <div class="form-floating">
        <input type="text" class="form-control" id="name"  name="name">
        <label class="form-label" for="name">Name</label>
    </div>
</div>

<div class="col-6 pt-2">
    <div class="form-floating">
        <input type="text" class="form-control" id="email"  name="email">
        <label class="form-label"  for="email">Email</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-1">
        <input type="text" class="form-control" id="mobile_no" name="mobile_no">
        <label class="form-label"  for="floatingInput">Contact no</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-1">
        <input type="text" class="form-control" id="designation" name="designation">
        <label class="form-label" for="designation">Designation</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-1">
        <input type="text" class="form-control" id="degree" name="degree">
        <label class="form-label" for="degree">Degree</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-1">
        <input type="text" class="form-control" id="visit_fee" name="visit_fee">
        <label class="form-label" for="visit_fee">Visit Fee</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-1">
        <input type="text" class="form-control" id="year_of_experience" name="year_of_experience">
        <label class="form-label" for="year_of_experience">Year of Experience</label>
    </div>
</div>

<!-- <div class="form-floating mb-1">
    <input type="text" class="form-control" id="floatingInput" placeholder="Doctor ID" name="doctor_id">
    <label for="floatingInput">Doctor ID</label>
</div> -->

<!-- {{!-- <div class="col-6">
<div class="form-floating mb-1">
  <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone">
  <label for="floatingInput">Phone</label>
</div>
</div> --}} -->
<div class="form-group">
    <label for="exampleFormControlSelect1">Specialization</label>
    <select class="form-control" id="specialty" name="specialty">
        <option>Cancer</option>
        <option>Heart</option>
        <option>ENT</option>
        <option>Eye</option>
        <option>General</option>
    </select>
</div>

<!-- <div class="form-floating mb-1">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Hospital</label>
        <select class="form-control" id="hospital_id" name="hospital_id">
            <%# rows.forEach((row)=> { %>
                <option value="<%#= row.hospital_id %>">
                    <%#= row.name %>
                </option>
                <%# }) %>
        </select>
    </div>
</div> -->

<div class="col-12 d-grid pt-2">
    <button class="btn btn-primary" type="submit">Submit</button>