<% if(message) {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
        <div class="col-12 pt-2">
            <div class="form-floating">
                <input type="password" id="oldpassword" name="oldpassword" class="form-control" required />
                <label class="form-label" for="oldpassword">Old Password</label>
            </div>
        </div>

        <!-- Password input -->
        <div class="col-12 pt-2">
            <div class="form-floating mb-3">
                <input type="password" id="password" name="password" onChange="onChange()" class="form-control"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    required />
                <label class="form-label" for="password">New Password</label>
            </div>
        </div>

        <!-- Repeat Password input -->
        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="password" id="confirm" name="confirm" onChange="onChange()" class="form-control" />
                <label class="form-label" for="confirm">Confirm password</label>
            </div>
        </div>

        <!-- Submit button -->
        <div class="col-12 d-grid pt-2">
            <button type="submit" id="submit" class="btn btn-primary btn-block mb-3">Change
            </button>
        </div>