<!--6 tarikh-->
<div class="col-6 pt-2">
    <div class="form-floating">
        <input type="text" class="form-control" id="name"  name="name">
         <label class="form-label" for="name">Name</label>
    </div>
</div>

<div class="col-6 pt-2">
    <div class="form-floating">
        <input type="text" class="form-control" id="suburb"  name="suburb">
         <label class="form-label" for="suburb">Suburb</label>
    </div>
</div>

<div class="col-6">
     <div class="form-floating mb-1">
        <input type="text" class="form-control" id="district"  name="district">
         <label class="form-label" for="district">District</label>
    </div>
</div>

<div class="col-6">
     <div class="form-floating mb-1">
        <input type="text" class="form-control" id="division" name="division">
         <label class="form-label" for="division">Division</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating">
        <input type="text" class="form-control" id="hospital_email"  name="hospital_email">
        <label class="form-label"  for="hospital_email">Email</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-1">
        <input type="text" class="form-control" id="contact_no" name="contact_no">
        <label class="form-label" for="contact_no">Contact no</label>
    </div>
</div>

<!--  <div class="form-floating mb-1">
    <input type="text" class="form-control" id="floatingInput" placeholder="Hospital ID" name="hospital_id">
     <label class="form-label" for="floatingInput">Hospital ID</label>
</div> -->

<!-- {{!-- <div class="col-6">
 <div class="form-floating mb-1">
  <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone">
   <label class="form-label" for="floatingInput">Phone</label>
</div>
</div> --}} -->
 <div class="form-floating mb-1">
    <div class="form-group">
         <label class="form-label" for="exampleFormControlSelect1">Type</label>
        <select class="form-control" id="type" name="type">
            <option>private</option>
            <option>Govt.</option>
            <!-- <option>3</option>
                        <option>4</option>
                        <option>5</option> -->
        </select>
    </div>
</div>

<div class="form-group">
     <label class="form-label" for="exampleFormControlSelect1">Specialization</label>
    <select class="form-control" id="specialization" name="specialization">
        <option>Cancer</option>
        <option>Heart</option>
        <option>ENT</option>
        <option>Eye</option>
        <option>General</option>
    </select>
</div>

<div class="col-12 pt-1">
     <div class="form-floating mb-1">
        <textarea class="form-control"  id="description" name="description"
            style="height: 200px"></textarea>
         <label class="form-label" for="description">Write description here</label>
    </div>
</div>

<div class="col-12 d-grid pt-1">
    <button class="btn btn-primary" type="submit">Submit</button>