<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    <%- include('./navigation') -%>
        <!-- END LOADER -->
        <div class="container-fluid py-4">
            <div class="mx-10 my-4">
                <a class="btn btn-primary" href="/admin/doctor/view" role="button">View Doctor</a>
                <a class="btn btn-primary" href="/admin/doctor/add" role="button">Add Doctor</a>
                <a class="btn btn-primary" href="/admin/doctor/assign" role="button">Assign Doctor</a>
                <a class="btn btn-primary" href="/admin/doctor/view_assigned" role="button">View Assigned Doctor</a>
            </div>
        </div>


        <%- include('./footer') -%>