<!--6 tarikh-->
<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
        <!-- END LOADER -->


        <div class="container-fluid py-3">
            <div class="container">
                <div class="col-12">
                    <div class="row g-0">
                        <div class="col-md-7 mx-auto bg-light text-center rounded px-7 p-4">
                            <h3>Add Doctor</h3>
                            <!--<div class="d-flex align-items-center">
                            <p class="mb-0">Add Doctor</p>
                            <p class="mb-6">
                                <% if(message) {%>
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <%= message %>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    <% } %>
                            </p>-->
                            <!-- <button class="btn btn-primary btn-sm ms-auto">Settings</button> -->

                            <div>
                                <h6 class="text-center text-uppercase">Doctor Information</h6>
                                <form class="row g-2 needs validation" method="POST" action="/admin/doctor/add"
                                    novalidate>
                                    <%- include ("./partials/admin_doctor_form") %>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


