<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    <%- include('./navigation') -%>
        <!-- END LOADER -->

        <a class="btn btn-primary" href="/admin/schedule/view" role="button">View Schedule</a>
        <a class="btn btn-primary" href="/admin/schedule/add" role="button">Add Schedule</a>



        <%- include('./footer') -%>