<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    <%- include('./navigation') -%>
        <!-- END LOADER -->
        <div class="tab-content">
            <div class="tab-pane fade  show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                <form action="/receptionist/change_pass" method="POST">
                    <%- include ("./partials/change_pass_form") %>
                </form>
            </div>
        </div>

        <%- include('./footer') -%>