<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
        <!-- END LOADER -->
        <%- include('./navigation_receptionist') -%>

        <div class="container-fluid py-3">
            <div class="container">
                <div class="col-12">
                    <div class="row g-0 pt-3">
                        <div class="col-md-7 mx-auto bg-light text-center rounded px-7 p-4">
                            <h3>Change Password</h3>
                            <div>
                                <form action="/receptionist/change_pass" method="POST">
                                    <%- include ("./partials/change_pass_form") %>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./footer') -%>