<!--6 tarikh-->
<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
        <!-- END LOADER -->

        <div class="container-fluid py-3">
            <div class="container">
                <div class="col-12">
                    <div class="row g-0">
                        <div class="col-md-8 mx-auto bg-light text-center rounded px-7 p-4">
                            <h3>Update Hospital</h3>

                            <div class="card-body">
                                <p class="text-center text-uppercase text-sm">Hospital Information</p>
                                <form class="row g-2 needs validation" method="POST"
                                    action="/admin/hospital/view/edit/<%=row.hospital_id  %> " novalidate>
                                    <%- include ("./partials/hospital_edit_form",{row}) %>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>


        <%- include('./footer') -%>