<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    
        <!-- END LOADER -->
        <div class="container-fluid py-4">
            <div class="mx-6 my-4">
                <a class="btn btn-primary" href="/admin/hospital/view" role="button">View Hospital</a>
                <a class="btn btn-primary" href="/admin/hospital/add" role="button">Add Hospital</a>
                <div class="pt-2">
                <form method="POST" action="/admin/logout">
                    <button type="submit" class="btn btn-primary">Log out</button>
                </form>
            </div>

            </div>
        </div>
        



        <%- include('./footer') -%>