<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    <%- include('./navigation') -%>
        <!-- END LOADER -->
        <div class="container-fluid py-4">
            <div class="mx-6 my-4">
                <a class="btn btn-primary" href="/admin/hospital/view" role="button">View Hospital</a>
                <a class="btn btn-primary" href="/admin/hospital/add" role="button">Add Hospital</a>
            </div>
        </div>



        <%- include('./footer') -%>