 <!-- Navbar Start -->
 <div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a href="/" class="navbar-brand">
                <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-hospital-user me-2"></i>Medigo</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/doctors" class="nav-item nav-link">Doctors</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                    <!--<a href="service.html" class="nav-item nav-link">Service</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Search</a>
                        <div class="dropdown-menu m-0">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="detail.html" class="dropdown-item">Blog Detail</a>
                            <a href="team.html" class="dropdown-item">The Team</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="appointment.html" class="dropdown-item">Appointment</a>
                            <a href="search.html" class="dropdown-item">Search</a>
                            <a href="searchClinic.html" class="dropdown-item">Clinics</a>
                            <a href="searchDoctor.html" class="dropdown-item">Doctors</a>
                            <a href="searchHospital.html" class="dropdown-item">Hospitals</a>
                        </div>
                    </div>-->
                    <div class="pt-2">
                        <button class="btn btn-dark rounded-pill py-md-3 px-md-3 mx-8 my-2"
                            onclick="location.href='/entry'">SignUp / Login</button>
                    </div>
                    <!--<a href="contact.html" class="nav-item nav-link">Contact</a>-->
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->