<%- include('./header') -%>
        <!-- END LOADER -->
        <div class="container-fluid">
            <div class="container">
                <div class="col-12">
                    <!-- <div class="row g-0 mx-12 mt-7">
                        <div class="col-12 col-sm-5 bg-light text-center rounded m-6 ps-3 pt-6"> -->
                            <div class="row g-0 mx-5 mt-7">
                                <div class="col-12 col-sm-5 bg-light text-center rounded m-6 pt-6">
                            <h3>Patient Login</h3>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="pills-login" role="tabpanel"
                                    aria-labelledby="tab-login">
                                    <form action="/patient/login" method="POST">
                                        <!-- Email input -->
                                        <% if(message) {%>
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <%= message %>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                        aria-label="Close"></button>
                                            </div>
                                            <% } %>
                                                <% if(errors !="" ) { %>
                                                    <% errors.forEach((item)=> { %>
                                                        <div class="alert alert-danger">
                                                            <%- item %>
                                                        </div>
                                                        <% }); %>
                                                            <% } %>
                                                                <div class="mx-4 mt-4" style="width: 377px;">
                                                                    <div class="form-floating">
                                                                        <input type="email" id="email" name="email"
                                                                            class="form-control" />
                                                                        <label class="form-label"
                                                                            for="email">email</label>
                                                                    </div>
                                                                </div>

                                                                <!-- Password input -->
                                                                <div class="mx-4 my-3" style="width: 377px;">
                                                                    <div class="form-floating">
                                                                        <input type="password" id="password"
                                                                            name="password" class="form-control" />
                                                                        <label class="form-label"
                                                                            for="password">Password</label>
                                                                    </div>
                                                                </div>

                                                                <!-- 2 column grid layout -->
                                                                <!-- <div class="row mb-4">
                            <div class="m-5"> -->
                                                                <!-- Simple link -->
                                                                <!-- <a href="#!">Forgot password?</a> -->
                                                                <!-- </div>
                        </div> -->

                                                                <!-- Submit button -->
                                                                <div class="mx-4 mt-4">
                                                                    <button type="submit"
                                                                        class="btn btn-primary btn-block mb-4">Sign
                                                                        in</button>
                                                                </div>

                                                                <!-- Register buttons -->
                                                                <div class="mx-4 mt-0">
                                                                    <p>Not a member? <a
                                                                            href="/patient/register">Register</a></p>
                                                                </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <img class="img-fluid h-70 py-6" src="../img/login-banner2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
