<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    
        <!-- END LOADER -->
        
        <div class="col-12 text-center pt-3">
            <a class="btn btn-primary" href="/viewPatient_doc_id=<%=info.doctor_id %>&hos_id=<%=info.hospital_id%>" role="button">View Patient</a>    
        </div>

        <div class="col-12 text-center pt-3">
            <a class="btn btn-primary" href="/receptionist/change_pass" role="button">Change password</a>
        </div>

        <div class="col-12 text-center p-3">
            <form method="POST" action="/receptionist/logout">
                <button type="submit" class="btn btn-primary">Log out</button>
            </form>
        </div>


<%- include('./footer') -%>