<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    <%- include('./navigation') -%>
        <!-- END LOADER -->
        <h1>I am <%=info[0].receptionist_name%> </h1>
        <!-- <a class="btn btn-primary" href="/receptionist/view" role="button">View</a> -->
        <div>
            <form method="POST" action="/logout">
                <button type="submit" class="btn btn-primary">Log out</button>
            </form>
        </div>


<%- include('./footer') -%>